export JENKINS_HOME="{{ tunght13488_jenkins_home }}"
export JENKINS_VERSION="{{ tunght13488_jenkins_version }}"
export JENKINS_SHA="{{ tunght13488_jenkins_sha }}"
export JENKINS_UC="{{ tunght13488_jenkins_uc }}"
export COPY_REFERENCE_FILE_LOG="{{ tunght13488_jenkins_copy_reference_file_log }}"
